docs/esf-sdk/api-wsdl/AwpWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type='text/xsl' href='wsdl-viewer.xsl'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="v1.awp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AwpWebService" targetNamespace="v1.awp">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="v1.awp" xmlns:ns1="awp" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="v1.awp">
            <xs:import namespace="awp"/>
            <xs:complexType name="UploadAwpRequest">
                <xs:complexContent>
                    <xs:extension base="tns:AbstractSessionAwareRequest">
                        <xs:sequence>
                            <xs:element name="awpInfoList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="awpInfo" type="ns1:AwpUploadInfo">
                                            <xs:annotation>
                                                <xs:documentation>Универсальная Форма</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="x509Certificate" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>PEM строковое представление (Base64 Encoded) X.509 сертификата, выданного удостоверяющим центром. Используется для проверки подписи Формы и полномочий данного пользователя</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="AbstractSessionAwareRequest">
                <xs:sequence>
                    <xs:element name="sessionId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Идентификатор сессии (см. SessionService)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="UploadAwpResponse">
                <xs:sequence>
                    <xs:element name="acceptedList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="awpUploadResult" type="tns:AwpUploadResult">
                                    <xs:annotation>
                                        <xs:documentation>Список успешно принятых на обработку документов</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="declinedList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="awpUploadResult" type="tns:AwpUploadResult">
                                    <xs:annotation>
                                        <xs:documentation>Список отклоненных Системой документов из-за ошибок ФЛК</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AwpUploadResult">
                <xs:annotation>
                    <xs:documentation>Результат регистрации Акта выполненных работ в Системе</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:Error">
                                    <xs:annotation>
                                        <xs:documentation>Список ошибок валидации Акта выполненных работ</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="awpId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Идентификатор Акта выполненных работ в Системе</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="number" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Номер Акта выполненных работ в системе Отправителя</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="date" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Дата выписки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Error">
                <xs:annotation>
                    <xs:documentation>Объект содержащий ошибки валидации документа</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element minOccurs="0" name="property" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Поле документа, в котором обнаружена ошибка</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errorCode" type="tns:errorCode">
                        <xs:annotation>
                            <xs:documentation>Код ошибки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="text" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Текст ошибки</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AccessDeniedFault">
                <xs:annotation>
                    <xs:documentation>При отсутствии у пользователя прав на выполнение данной операции</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BusinessFault">
                <xs:annotation>
                    <xs:documentation>При возникновении ошибки в ПО</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SessionClosedFault">
                <xs:annotation>
                    <xs:documentation>При попытке выполнить действие, когда сессия пользователя была закрыта вызовом соответствующего метода либо по таймауту</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AwpQueryUpdatesRequest">
                <xs:complexContent>
                    <xs:extension base="tns:AbstractSessionAwareRequest">
                        <xs:sequence>
                            <xs:element name="lastEventDate" type="xs:dateTime">
                                <xs:annotation>
                                    <xs:documentation>Дата с которой следует возвращать результаты (в формате времени с временной зоной)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="lastAwpId" type="xs:long">
                                <xs:annotation>
                                    <xs:documentation>Идентификатор последнего Акта выполненных работ, полученный в предыдущем блоке</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element minOccurs="0" name="limit" type="xs:int">
                                <xs:annotation>
                                    <xs:documentation>Максимальное количество возвращаемых объектов</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AwpQueryUpdatesResponse">
                <xs:sequence>
                    <xs:element name="lastEventDate" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Дата последней записи в этом блоке (в формате времени с временной зоной)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="lastAwpId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Идентификатор последнего Акта выполненных работ в этом блоке</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="awpInfoList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="awpInfo" type="ns1:AwpInfo">
                                    <xs:annotation>
                                        <xs:documentation>Информация об измененных Актов выполненных работ</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AwpQueryByIdRequest">
                <xs:complexContent>
                    <xs:extension base="tns:AbstractSessionAwareRequest">
                        <xs:sequence>
                            <xs:element name="idList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="id" type="xs:long">
                                            <xs:annotation>
                                                <xs:documentation>Список идентификаторов АВР в системе</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AwpChangeStatusResponse">
                <xs:annotation>
                    <xs:documentation>Результат операции изменения статуса</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="resultList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="changeStatusResult" type="ns1:AwpChangeStatusResult">
                                    <xs:annotation>
                                        <xs:documentation>Результат операции изменения статуса</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AwpStatusResponse">
                <xs:sequence>
                    <xs:element name="awpSummaryList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="awpSummary" type="ns1:AwpSummary">
                                    <xs:annotation>
                                        <xs:documentation>Краткая информация о АВР</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="QueryAwpResponse">
                <xs:sequence>
                    <xs:element name="lastBlock" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Текущий блок является последним</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="currPage" type="xs:int">
                        <xs:annotation>
                            <xs:documentation>Номер текущего блока результата</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="rsCount" type="xs:int">
                        <xs:annotation>
                            <xs:documentation>Количество возвращаемых записей</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="awpInfoList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="awpInfo" type="ns1:AwpInfo">
                                    <xs:annotation>
                                        <xs:documentation>Информация о зарегистрированном АВР включая документ</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AwpChangeStatusRequest">
                <xs:complexContent>
                    <xs:extension base="tns:AbstractSessionAwareRequest">
                        <xs:sequence>
                            <xs:element name="awpActionInfoList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="awpActionInfo" type="ns1:AwpActionInfo">
                                            <xs:annotation>
                                                <xs:documentation>Информация об изменении статуса Акта выполненных работ</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="DeleteAwpByIdResponse">
                <xs:sequence>
                    <xs:element name="resultList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="changeStatusResult" type="ns1:DeleteAwpResult">
                                    <xs:annotation>
                                        <xs:documentation>Результат выполнения операции по удалению ошибочных ЭСФ</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AwpHistoryQueryByIdRequest">
                <xs:complexContent>
                    <xs:extension base="tns:AbstractSessionAwareRequest">
                        <xs:sequence>
                            <xs:element name="idList">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="id" type="xs:long">
                                            <xs:annotation>
                                                <xs:documentation>Список идентификаторов АВР</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="AwpHistoryQueryByIdResponse">
                <xs:sequence>
                    <xs:element name="resultList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="awpHistory" type="ns1:AwpHistoryInfo">
                                    <xs:annotation>
                                        <xs:documentation>Список истории АВР</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="SignatureType">
                <xs:annotation>
                    <xs:documentation>Тип ЭЦП</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="COMPANY">
                        <xs:annotation>
                            <xs:documentation>ЭЦП юридического лица</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="OPERATOR">
                        <xs:annotation>
                            <xs:documentation>ЭЦП лица, уполномоченного подписывать счета-фактуры</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="errorCode">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CONTENT_HAS_INVALID_CHARACTERS"/>
                    <xs:enumeration value="CERTIFICATE_EXPIRED"/>
                    <xs:enumeration value="CERTIFICATE_NOT_YET_VALID"/>
                    <xs:enumeration value="CERTIFICATE_NOT_VALID"/>
                    <xs:enumeration value="CERTIFICATE_REVOKED"/>
                    <xs:enumeration value="CERTIFICATE_SIGNATURE_NOT_VALID"/>
                    <xs:enumeration value="CERTIFICATE_POLICY_NOT_VALID"/>
                    <xs:enumeration value="CERTIFICATE_IS_NOT_FOR_PRIVATE"/>
                    <xs:enumeration value="CERTIFICATE_IS_NOT_FOR_ENTERPRISE"/>
                    <xs:enumeration value="CERTIFICATE_IS_NOT_FOR_AUTH"/>
                    <xs:enumeration value="CERTIFICATE_IS_NOT_FOR_SIGNING"/>
                    <xs:enumeration value="CERTIFICATE_SERIES_OR_CERTIFICATE_NUM_ABSENT"/>
                    <xs:enumeration value="HEAD_OFFICE_CANNOT_BE_BRANCH_NON_RESIDENT"/>
                    <xs:enumeration value="BRANCH_NON_RESIDENT_STATE_ERROR"/>
                    <xs:enumeration value="ORIGINAL_DOCUMENT_SIGNATURE_VERIFICATION_FAILED"/>
                    <xs:enumeration value="SIGNATURE_VERIFICATION_FAILED"/>
                    <xs:enumeration value="FALSE_COMPANY_VALITATION_FAILED"/>
                    <xs:enumeration value="FLK_VALITATION_FAILED"/>
                    <xs:enumeration value="INVALID_INVOICE_VERSION"/>
                    <xs:enumeration value="USER_NOT_FOUND"/>
                    <xs:enumeration value="IIN_NOT_VALID"/>
                    <xs:enumeration value="OCSP_NOT_AVAILABLE"/>
                    <xs:enumeration value="USER_BLOCKED"/>
                    <xs:enumeration value="ENTERPRISE_NOT_FOUND_FOR_USER"/>
                    <xs:enumeration value="PERMISSIONS_EXPIRED"/>
                    <xs:enumeration value="NO_REQUIRED_PERMISSIONS"/>
                    <xs:enumeration value="NO_REQUIRED_TAXPAYER_STATE"/>
                    <xs:enumeration value="PROXY_NOT_YET"/>
                    <xs:enumeration value="SELLER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="SELLER_IS_FAKE"/>
                    <xs:enumeration value="CUSTOMER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="CUSTOMER_IS_FAKE"/>
                    <xs:enumeration value="SELLER_TIN_NOT_EQUALS_WITH_TIN_IN_SESSION"/>
                    <xs:enumeration value="CONSIGNOR_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="CONSIGNOR_IS_FAKE"/>
                    <xs:enumeration value="CONSIGNEE_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="CONSIGNEE_IS_FAKE"/>
                    <xs:enumeration value="CUSTOMER_NOT_PUBLIC_OFFICE"/>
                    <xs:enumeration value="BIK_IIK_TIN_NOT_CORRECT"/>
                    <xs:enumeration value="INDIVIDUAL_SELLER_CANT_BE_JO_PARTICIPANT"/>
                    <xs:enumeration value="INDIVIDUAL_CUSTOMER_CANT_BE_JO_PARTICIPANT"/>
                    <xs:enumeration value="REORGANIZED_SELLER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="REORGANIZED_CUSTOMER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="REORGANIZED_SELLER_IS_FAKE"/>
                    <xs:enumeration value="REORGANIZED_CUSTOMER_IS_FAKE"/>
                    <xs:enumeration value="AGENT_SELLER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="AGENT_CUSTOMER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="AGENT_SELLER_IS_FAKE"/>
                    <xs:enumeration value="AGENT_CUSTOMER_IS_FAKE"/>
                    <xs:enumeration value="DEMO_TINS"/>
                    <xs:enumeration value="RELATED_INVOICE_NOT_FOUND_TIN_FIELD_DIFFERS"/>
                    <xs:enumeration value="RELATED_INVOICE_NOT_FOUND_NUM_FIELD_DIFFERS"/>
                    <xs:enumeration value="RELATED_INVOICE_NOT_FOUND_DATE_FIELD_DIFFERS"/>
                    <xs:enumeration value="RELATED_INVOICE_NOT_FOUND_PROJECT_CODE_FIELD_DIFFERS"/>
                    <xs:enumeration value="RELATED_INVOICE_NOT_FOUND_REGISTRATION_NUMBER_FIELD_DIFFERS"/>
                    <xs:enumeration value="RELATED_INVOICE_NOT_FOUND"/>
                    <xs:enumeration value="INVOICE_SENDER_NOT_VALID"/>
                    <xs:enumeration value="MAIN_INVOICE_NOT_FOUND"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_NOT_EQUALS"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_PRODUCTS_NOT_EQUALS"/>
                    <xs:enumeration value="MAIN_AND_FIXED_INVOICES_SELLERS_NOT_EQUALS"/>
                    <xs:enumeration value="MAIN_AND_FIXED_INVOICES_CUSTOMERS_NOT_EQUALS"/>
                    <xs:enumeration value="MAIN_AND_FIXED_INVOICES_NDS_RATE_TYPES_NOT_EQUALS"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_TURNOVER_DATE_NOT_CORRESPONDED"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_SUM_NEGATIVE"/>
                    <xs:enumeration value="ADDITIONAL_INVOICE_PRODUCT_UNIT_PRICE_IS_ABSENT"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_UNIT_CODE_DIFFERENT"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_UNIT_CODE_MUST_MATCH_FIRST_FOUR_DIGITS"/>
                    <xs:enumeration value="ADDITIONAL_INVOICE_LESSOR_PRODUCT_NOT_FOUND"/>
                    <xs:enumeration value="UNIT_CODE_IN_MAIN_INVOICE_NOT_EXISTS_IN_DICTIONARY"/>
                    <xs:enumeration value="UNIT_CODE_IN_ADDITIONAL_INVOICE_NOT_EXISTS_IN_DICTIONARY"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_QUANTITY_SUM_NEGATIVE"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_UNIT_PRICE_SUM_NEGATIVE"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_PRICE_WITHOUT_TAX_SUM_NEGATIVE"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_EXCISE_AMOUNT_SUM_NEGATIVE"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_TURNOVER_SIZE_SUM_NEGATIVE"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_NDS_AMOUNT_SUM_NEGATIVE"/>
                    <xs:enumeration value="MAIN_AND_ADDITIONAL_INVOICES_PRICE_WITH_TAX_SUM_NEGATIVE"/>
                    <xs:enumeration value="MAIN_FOR_ADDITIONAL_INVOICES_NOT_FOUND"/>
                    <xs:enumeration value="NOT_UNIQUE_DB_ERROR_MSG"/>
                    <xs:enumeration value="NOT_UNIQUE_MEMORY_ERROR_MSG"/>
                    <xs:enumeration value="FIXED_ORDINARY_ERROR_MSG"/>
                    <xs:enumeration value="FIXED_NOT_ALLOWED_FOR_REORGANIZATION"/>
                    <xs:enumeration value="ADDITIONAL_PARENT_ERROR_MSG"/>
                    <xs:enumeration value="FIXED_PARENT_ERROR_MSG"/>
                    <xs:enumeration value="FIXED_RELATED_DB_ERROR_MSG"/>
                    <xs:enumeration value="FIXED_RELATED_MEMORY_ERROR_MSG"/>
                    <xs:enumeration value="FIXED_ALREADY_EXISTS_ERROR_MSG"/>
                    <xs:enumeration value="FIXED_CREATED"/>
                    <xs:enumeration value="CANCEL_PARENT_INVOICE"/>
                    <xs:enumeration value="CANCEL_OGD"/>
                    <xs:enumeration value="CANCEL_OGD_ADMIN"/>
                    <xs:enumeration value="RESTORED_OGD"/>
                    <xs:enumeration value="RESTORED_OGD_ADMIN"/>
                    <xs:enumeration value="USER_IS_NOT_SUPER_ADMIN"/>
                    <xs:enumeration value="REQUIRED_VALUE_NOT_FOUND"/>
                    <xs:enumeration value="INVOICE_MISSING"/>
                    <xs:enumeration value="WRONG_TIN"/>
                    <xs:enumeration value="WRONG_TYPE"/>
                    <xs:enumeration value="WRONG_STATUS"/>
                    <xs:enumeration value="WRONG_DATE"/>
                    <xs:enumeration value="WRONG_SUM"/>
                    <xs:enumeration value="WRONG_PARENT_STATUS"/>
                    <xs:enumeration value="WRONG_FIXED_PARENT_STATUS"/>
                    <xs:enumeration value="LOCKED_BY_SENDING_TO_ISGO"/>
                    <xs:enumeration value="PARENT_LOCKED_BY_SENDING_TO_ISGO"/>
                    <xs:enumeration value="CAN_CREATE_ONLY_ADDITIONAL_INVOICE_FROM_REORGANIZED"/>
                    <xs:enumeration value="ADDITIONAL_INVOICE_FROM_REORGANIZED_MAY_BE_ONLY_FOR_RETURN"/>
                    <xs:enumeration value="WRONG_NOT_PAYER_NDS"/>
                    <xs:enumeration value="INVALID_CONSIGNEE_COUNTRY_CODE"/>
                    <xs:enumeration value="INVALID_CUSTOMER_COUNTRY_CODE"/>
                    <xs:enumeration value="INVALID_SELLER_COUNTRY_CODE"/>
                    <xs:enumeration value="INVALID_SELLER_REORGANIZATION_TIN"/>
                    <xs:enumeration value="INVALID_CUSTOMER_REORGANIZATION_TIN"/>
                    <xs:enumeration value="INVALID_CURRENCY_CODE"/>
                    <xs:enumeration value="INVALID_DELIVERY_CONDITION_CODE"/>
                    <xs:enumeration value="INVALID_TRANSPORT_TYPE_CODE"/>
                    <xs:enumeration value="INVALID_ORIGIN_CODE"/>
                    <xs:enumeration value="NDS_CERTIFICATE_NUM_IS_EMPTY"/>
                    <xs:enumeration value="NDS_CERTIFICATE_SERIES_IS_EMPTY"/>
                    <xs:enumeration value="MISSING_SHARING_AGREEMENT_PARTICIPANT"/>
                    <xs:enumeration value="MISSING_JOINT_ACTIVITY_PARTICIPANT"/>
                    <xs:enumeration value="MISSING_PRINCIPAL"/>
                    <xs:enumeration value="SELLER_MISSING_SHARING_AGREEMENT_PARTICIPANT"/>
                    <xs:enumeration value="SELLER_MISSING_JOINT_ACTIVITY_PARTICIPANT"/>
                    <xs:enumeration value="SELLER_MISSING_PRINCIPAL"/>
                    <xs:enumeration value="CUSTOMER_MISSING_SHARING_AGREEMENT_PARTICIPANT"/>
                    <xs:enumeration value="CUSTOMER_MISSING_JOINT_ACTIVITY_PARTICIPANT"/>
                    <xs:enumeration value="CUSTOMER_MISSING_PRINCIPAL"/>
                    <xs:enumeration value="NOT_MISSING_SHARING_AGREEMENT_PARTICIPANT"/>
                    <xs:enumeration value="INVALID_CUSTOMER_TIN"/>
                    <xs:enumeration value="PROJECT_CODE_NOT_FOUND"/>
                    <xs:enumeration value="PROJECT_CODE_SELLER_AGENT_NOTACTIVE"/>
                    <xs:enumeration value="PROJECT_CODE_SELLER_AGENT_MISSING"/>
                    <xs:enumeration value="PROJECT_CODE_CUSTOMER_AGENT_NOTACTIVE"/>
                    <xs:enumeration value="PROJECT_CODE_CUSTOMER_AGENT_MISSING"/>
                    <xs:enumeration value="PROJECT_SELLER_AGENT_TIN_FAKE"/>
                    <xs:enumeration value="PROJECT_CUSTOMER_AGENT_TIN_FAKE"/>
                    <xs:enumeration value="PROJECT_SELLER_TIN_FAKE"/>
                    <xs:enumeration value="PROJECT_CUSTOMER_TIN_FAKE"/>
                    <xs:enumeration value="TNVED_CODE_CANT_BE_EMPTY"/>
                    <xs:enumeration value="TNVED_CODE_NOT_FOUND"/>
                    <xs:enumeration value="TNVED_CODE_USES_IN_VSTORE"/>
                    <xs:enumeration value="TNVED_CODE_INCONSISTENT"/>
                    <xs:enumeration value="ORIGIN_CODE_5_EAEC_INCOMPATIBLE"/>
                    <xs:enumeration value="PUBLIC_OFFICE_FIELDS_NOT_CONSISTENT"/>
                    <xs:enumeration value="CURRENCY_RATE_NOT_MATCH"/>
                    <xs:enumeration value="UNKNOWN_PAPER_REASON"/>
                    <xs:enumeration value="PAPER_REASON_NOT_SET"/>
                    <xs:enumeration value="PAPER_DATE_NOT_SET"/>
                    <xs:enumeration value="DOWNTIME_NOT_FOUND_FOR_DATE"/>
                    <xs:enumeration value="WRONG_INVOICE_TYPE_FOR_PAPER_REASON"/>
                    <xs:enumeration value="WRONG_CHILD_INVOICE_WITH_PAPER_REASON"/>
                    <xs:enumeration value="BLOCKING_NOT_FOUND_FOR_DATE"/>
                    <xs:enumeration value="PAPER_INVOICE_TIME_EXPIRED"/>
                    <xs:enumeration value="PAPER_INVOICE_NOT_AVAILABLE_FOR_MOVABLE_PRODUCTS"/>
                    <xs:enumeration value="PAPER_INVOICE_TIME_ERROR_FOR_LESSOR"/>
                    <xs:enumeration value="NDS_RATE_FOR_NOT_NDS_PAYER"/>
                    <xs:enumeration value="CATALOG_TRU_ID_NOT_FOUND"/>
                    <xs:enumeration value="SELLER_IS_BLOCKED"/>
                    <xs:enumeration value="CUSTOMER_IS_BLOCKED"/>
                    <xs:enumeration value="CUSTOMER_AGENT_IS_BLOCKED"/>
                    <xs:enumeration value="SELLER_AGENT_IS_BLOCKED"/>
                    <xs:enumeration value="CONSIGNOR_IS_BLOCKED"/>
                    <xs:enumeration value="CONSIGNEE_IS_BLOCKED"/>
                    <xs:enumeration value="SELLER_PROJECT_PARTICIPANTS_ERROR"/>
                    <xs:enumeration value="CUSTOMER_PROJECT_PARTICIPANTS_ERROR"/>
                    <xs:enumeration value="PARTICIPANT_SHARE_INCORRECT"/>
                    <xs:enumeration value="PROJECT_NOT_FOUND_ERROR"/>
                    <xs:enumeration value="SELLER_PROJECT_NOT_FOUND_ERROR"/>
                    <xs:enumeration value="SELLER_PROJECT_MORE_THAN_ONE"/>
                    <xs:enumeration value="CUSTOMER_PROJECT_NOT_FOUND_ERROR"/>
                    <xs:enumeration value="CUSTOMER_PROJECT_MORE_THAN_ONE"/>
                    <xs:enumeration value="SELLER_BRANCH_NOT_BELONGS_TO_HEAD"/>
                    <xs:enumeration value="BRANCH_SELLER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="BRANCH_SELLER_IS_FAKE"/>
                    <xs:enumeration value="CUSTOMER_BRANCH_NOT_BELONGS_TO_HEAD"/>
                    <xs:enumeration value="BRANCH_CUSTOMER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="BRANCH_CUSTOMER_IS_FAKE"/>
                    <xs:enumeration value="TAXPAYER_IS_NOT_RESPONSIBLE_FOR_BUDGET"/>
                    <xs:enumeration value="STORE_CREATE_USER_TIN_NULL"/>
                    <xs:enumeration value="STORE_EDIT_USER_TIN_NULL"/>
                    <xs:enumeration value="PARENT_TAXPAYER_STORE_NOT_FOUND"/>
                    <xs:enumeration value="PARENT_TAXPAYER_STORE_IS_CHILD"/>
                    <xs:enumeration value="USER_IS_NOT_ALLOWED_TO_EDIT_STORE"/>
                    <xs:enumeration value="USER_IS_NOT_ALLOWED_TO_EDIT_PARENT_STORE"/>
                    <xs:enumeration value="PRODUCT_DEFICIENCY"/>
                    <xs:enumeration value="PRODUCT_DEFICIENCY_TO_RETURN_BY_RELATED_INVOICE"/>
                    <xs:enumeration value="PRODUCT_EAEC_EXPORT_FORBIDDEN"/>
                    <xs:enumeration value="TAXPAYER_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="TAXPAYER_IS_FAKE"/>
                    <xs:enumeration value="TAXPAYER_STORE_NOT_FOUND"/>
                    <xs:enumeration value="TAXPAYER_STORE_PROJECT_CODE_INCORRECT"/>
                    <xs:enumeration value="TAXPAYER_IS_BLOCKED"/>
                    <xs:enumeration value="SENDER_AND_RECIPIENT_STORES_HAS_DIFFERENT_TIN"/>
                    <xs:enumeration value="SENDER_AND_RECIPIENT_DO_NOT_HAVE_RELATION"/>
                    <xs:enumeration value="SEND_FROM_POSTING_GOODS_STORE_FORBIDDEN"/>
                    <xs:enumeration value="SEND_TO_POSTING_GOODS_STORE_FORBIDDEN"/>
                    <xs:enumeration value="ESF_FROM_POSTING_GOODS_STORE_UNAVAILABLE"/>
                    <xs:enumeration value="GSVS_CODE_NOT_FOUND"/>
                    <xs:enumeration value="GSVS_IS_NOT_USE_IN_VS"/>
                    <xs:enumeration value="IMPORT_DOC_DATE_AFTER_USE_IN_VS_DATE"/>
                    <xs:enumeration value="UNIQUE_PRODUCT_REQUIRES_PHYSICAL_LABEL"/>
                    <xs:enumeration value="TNVED_CODE_DOES_NOT_MATCH_GSVS"/>
                    <xs:enumeration value="TNVED_CODE_INCORRECT"/>
                    <xs:enumeration value="INVALID_CAN_EXPORT"/>
                    <xs:enumeration value="INVALID_MEASURE_UNIT_CODE"/>
                    <xs:enumeration value="INVALID_COUNTRY_CODE"/>
                    <xs:enumeration value="NOT_UNIQUE_NUMBER_AND_DATE"/>
                    <xs:enumeration value="UNIQUE_PRODUCT_REQUIRES_ONE_IN_QUANTITY"/>
                    <xs:enumeration value="UNIQUE_PRODUCT_REQUIRES_ONE_OR_ZERO"/>
                    <xs:enumeration value="NOT_MATCH_SOURCE_PRODUCT"/>
                    <xs:enumeration value="MUST_NOT_MATCH_SOURCE_PRODUCT"/>
                    <xs:enumeration value="UNEXPECTED_ERROR"/>
                    <xs:enumeration value="INCORRECT_PRODUCT_SUM"/>
                    <xs:enumeration value="INCORRECT_TOTAL_SUM"/>
                    <xs:enumeration value="INCORRECT_SOURCE_TOTAL_SUM"/>
                    <xs:enumeration value="GSVS_IS_NOT_UNIQUE"/>
                    <xs:enumeration value="GSVS_CODE_INVALID_FORMAT"/>
                    <xs:enumeration value="TNVED_CODE_DOES_NOT_EXISTS_IN_GSVS"/>
                    <xs:enumeration value="VS_PRODUCT_NEEDS_CONTRACT"/>
                    <xs:enumeration value="STORE_IS_NOT_INHERITED"/>
                    <xs:enumeration value="UFORM_NOT_FOUND"/>
                    <xs:enumeration value="UFORM_SENDER_NOT_VALID"/>
                    <xs:enumeration value="UPLOAD_REORGANIZATION_FROM_API_IS_NOT_ALLOWED"/>
                    <xs:enumeration value="BALANCE_CORRECTION_CAN_PASS_ONLY_FROM_BALANCE"/>
                    <xs:enumeration value="PRODUCT_IS_USED_IN_VSTORE"/>
                    <xs:enumeration value="UFORM_IMPORT_DETAILING_EXCEPTION"/>
                    <xs:enumeration value="UFORM_IMPORT_DETAILING_NO_PAYMENT_AVAILABLE"/>
                    <xs:enumeration value="UFORM_IMPORT_DETAILING_PRODUCT_ROW_ALREADY_DETAILED"/>
                    <xs:enumeration value="UFORM_IMPORT_DETAILING_PRODUCT_ROW_QUANTITY_NOT_EQUALS"/>
                    <xs:enumeration value="GTD_FETCH_EXCEPTION"/>
                    <xs:enumeration value="GTD_NOT_FOUND"/>
                    <xs:enumeration value="GTD_PRODUCT_NOT_FOUND"/>
                    <xs:enumeration value="FNO_NOT_FOUND"/>
                    <xs:enumeration value="FNO_PRODUCT_NOT_FOUND"/>
                    <xs:enumeration value="UFORM_IMPORT_DETAILING_PRODUCT_ROW_SUM_DIFFERS"/>
                    <xs:enumeration value="UFORM_IMPORT_DETAILING_PRODUCT_ROW_PRICE_DIFFERS"/>
                    <xs:enumeration value="AWP_SENDER_TIN_NOT_EQUALS_WITH_TIN_IN_SESSION"/>
                    <xs:enumeration value="AWP_TIN_ABSENT_IN_DICTIONARY"/>
                    <xs:enumeration value="AWP_SENDER_NOT_VALID"/>
                    <xs:enumeration value="AWP_ACCESS_DENIED"/>
                    <xs:enumeration value="AWP_WRONG_ACTION"/>
                    <xs:enumeration value="AWP_NOT_FOUND"/>
                    <xs:enumeration value="AWP_INCORRECT_STATUS_FOR_DELETE"/>
                    <xs:enumeration value="AWP_SENDER_DO_NOT_HAVE_RELATION_WITH_BRANCH"/>
                    <xs:enumeration value="AWP_RECIPIENT_DO_NOT_HAVE_RELATION_WITH_BRANCH"/>
                    <xs:enumeration value="AWP_TAXPAYER_IS_NOT_NDS_PAYER"/>
                    <xs:enumeration value="AWP_INVOICE_PREFILLING_PROHIBITED"/>
                    <xs:enumeration value="ISGO_EMPTY_INVOICES_LIST"/>
                    <xs:enumeration value="ISGO_TOO_MANY_PARTICIPANTS"/>
                    <xs:enumeration value="ISGO_INVALID_SENDER"/>
                    <xs:enumeration value="ISGO_INVALID_INVOICE_STATUS"/>
                    <xs:enumeration value="ISGO_INVOICE_NOT_FOUND"/>
                    <xs:enumeration value="ISGO_TOO_MANY_SYSTEMS"/>
                    <xs:enumeration value="ISGO_INVOICE_DOUBLE"/>
                    <xs:enumeration value="ISGO_SYSTEM_NOT_FOUND"/>
                    <xs:enumeration value="ISGO_INVALID_SET_OF_INVOICES"/>
                    <xs:enumeration value="ISGO_INVALID_ISGO_INVOICE_STATUS"/>
                    <xs:enumeration value="ISGO_INVALID_APPROVER"/>
                    <xs:enumeration value="ISGO_SYSTEM_NOT_NEED_CONFIRMATION"/>
                    <xs:enumeration value="ISGO_ISGO_INVOICE_NOT_FOUND"/>
                    <xs:enumeration value="ISGO_CONFIRM_PART_OF_PACKAGE"/>
                    <xs:enumeration value="NDS_INVALID_MESSAGE_FORMAT"/>
                    <xs:enumeration value="RELATED_ECONTRACT_NOT_FOUND"/>
                    <xs:enumeration value="RELATED_ECONTRACT_DATE_AND_NUMBER_NOT_MATCH_REGISTRATION_NUMBER"/>
                    <xs:enumeration value="RELATED_ECONTRACT_MUST_NOT_BE_CESSION"/>
                    <xs:enumeration value="RELATED_ECONTRACT_HAS_WRONG_STATUS"/>
                    <xs:enumeration value="PARTICIPANT_IS_NOT_ACTIVE_IN_RELATED_ECONTRACT"/>
                    <xs:enumeration value="STAGE_IMPLEMENTATION_DEADLINE_NOT_MAX"/>
                    <xs:enumeration value="STAGE_PAYMENT_DEADLINE_NOT_MAX"/>
                    <xs:enumeration value="STAGE_TOTAL_SUM_INCORRECT"/>
                    <xs:enumeration value="ECONTRACT_IMPLEMENTATION_DEADLINE_NOT_MAX"/>
                    <xs:enumeration value="ECONTRACT_INCORRECT_STATUS_FOR_DELETE"/>
                    <xs:enumeration value="ECONTRACT_PAYMENT_DEADLINE_NOT_MAX"/>
                    <xs:enumeration value="ECONTRACT_TOTAL_SUM_INCORRECT"/>
                    <xs:enumeration value="ECONTRACT_ACCESS_DENIED"/>
                    <xs:enumeration value="ECONTRACT_NO_REASON_TO_PROCESS"/>
                    <xs:enumeration value="ECONTRACT_NOT_FOUND"/>
                    <xs:enumeration value="ECONTRACT_WRONG_ACTION"/>
                    <xs:enumeration value="PAYMENT_DATE_MUST_BE_AFTER_PREVIOUS"/>
                    <xs:enumeration value="DEBT_AT_START_MUST_BE_EQUAL_TO_PREVIOUS_DEBT_AT_END"/>
                    <xs:enumeration value="DEBT_AT_END_MUST_NOT_BE_GREATER_THAN_DEBT_AT_START"/>
                    <xs:enumeration value="LOAN_AMOUNT_MUST_BE_EQUAL_TO_PAYMENTS_SUM"/>
                    <xs:enumeration value="LOAN_AMOUNT_MUST_BE_EQUAL_TO_FIRST_PAYMENT_DEBT"/>
                    <xs:enumeration value="PAYMENTS_NUMBER_MUST_BE_EQUAL_TO_ROWS_COUNT"/>
                    <xs:enumeration value="LAST_PAYMENT_DEBT_AT_END_MUST_BE_ZERO"/>
                    <xs:enumeration value="PAYMENT_START_DATE_NOT_MATCH_FIRST_PAYMENT_DATE"/>
                    <xs:enumeration value="PAYMENT_END_DATE_NOT_MATCH_LAST_PAYMENT_DATE"/>
                    <xs:enumeration value="ECONTRACT_SIBLING_HAS_NOT_FINAL_STATUS"/>
                    <xs:enumeration value="ECONTRACT_WRONG_REGISTRATION_NUMBER"/>
                    <xs:enumeration value="EOKNO_REQUEST_IS_NULL"/>
                    <xs:enumeration value="EOKNO_TIN_IS_NULL"/>
                    <xs:enumeration value="EOKNO_TIN_IS_NOT_12_SIZE"/>
                    <xs:enumeration value="EOKNO_TAXPAYER_NOT_FOUND"/>
                    <xs:enumeration value="EOKNO_REGISTRATION_INFO_NOT_FOUND"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="clientType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="WEB"/>
                    <xs:enumeration value="API"/>
                    <xs:enumeration value="API_VS"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="accessDeniedException" nillable="true" type="tns:AccessDeniedFault"/>
            <xs:element name="businessException" nillable="true" type="tns:BusinessFault"/>
            <xs:element name="sessionClosedException" nillable="true" type="tns:SessionClosedFault"/>
            <xs:element name="TrustyOCSPUnknownProblemException" type="tns:TrustyOCSPUnknownProblemException"/>
            <xs:complexType name="TrustyOCSPUnknownProblemException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TrustyOCSPNotAvailableException" type="tns:TrustyOCSPNotAvailableException"/>
            <xs:complexType name="TrustyOCSPNotAvailableException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TrustyOCSPNonceException" type="tns:TrustyOCSPNonceException"/>
            <xs:complexType name="TrustyOCSPNonceException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="TrustyOCSPCertificateException" type="tns:TrustyOCSPCertificateException"/>
            <xs:complexType name="TrustyOCSPCertificateException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="awpUploadRequest" nillable="true" type="tns:UploadAwpRequest"/>
            <xs:element name="awpUploadResponse" nillable="true" type="tns:UploadAwpResponse"/>
            <xs:element name="awpQueryUpdatesRequest" nillable="true" type="tns:AwpQueryUpdatesRequest"/>
            <xs:element name="awpQueryUpdatesResponse" nillable="true" type="tns:AwpQueryUpdatesResponse"/>
            <xs:element name="awpViewRequest" nillable="true" type="tns:AwpQueryByIdRequest"/>
            <xs:element name="awpViewResponse" nillable="true" type="tns:AwpChangeStatusResponse"/>
            <xs:element name="awpQueryStatusByIdRequest" nillable="true" type="tns:AwpQueryByIdRequest"/>
            <xs:element name="awpQueryStatusByIdResponse" nillable="true" type="tns:AwpStatusResponse"/>
            <xs:element name="awpQueryByIdRequest" nillable="true" type="tns:AwpQueryByIdRequest"/>
            <xs:element name="awpQueryByIdResponse" nillable="true" type="tns:QueryAwpResponse"/>
            <xs:element name="awpDeleteRequest" nillable="true" type="tns:AwpChangeStatusRequest"/>
            <xs:element name="awpDeleteResponse" nillable="true" type="tns:DeleteAwpByIdResponse"/>
            <xs:element name="awpChangeStatusRequest" nillable="true" type="tns:AwpChangeStatusRequest"/>
            <xs:element name="awpChangeStatusResponse" nillable="true" type="tns:AwpChangeStatusResponse"/>
            <xs:element name="awpHistoryQueryByIdRequest" nillable="true" type="tns:AwpHistoryQueryByIdRequest"/>
            <xs:element name="awpHistoryQueryByIdResponse" nillable="true" type="tns:AwpHistoryQueryByIdResponse"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="awp" xmlns:ns1="v1.awp" xmlns:awp="awp" targetNamespace="awp" version="1.0">
            <xs:import namespace="v1.awp"/>
            <xs:complexType name="AwpUploadInfo">
                <xs:annotation>
                    <xs:documentation>Информация о загружаемом АВР</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element name="awpBody" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>АВР (XML)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="version" type="tns:awpVersion">
                        <xs:annotation>
                            <xs:documentation>Версия АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" name="signature">
                        <xs:annotation>
                            <xs:documentation>ЭЦП XML-представления АВР</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="400"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="signatureType" type="ns1:SignatureType">
                        <xs:annotation>
                            <xs:documentation>Тип ЭЦП, которым подписан АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="AwpInfo">
                <xs:annotation>
                    <xs:documentation>Информация о АВР</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element name="awpBody" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>АВР (XML)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="awpId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Идентификатор АВР в системе</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="inputDate" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Дата поступления АВР в систему</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Регистрационный номер АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="version" type="tns:awpVersion">
                        <xs:annotation>
                            <xs:documentation>Версия АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="status" type="tns:AwpStatus">
                        <xs:annotation>
                            <xs:documentation>Статус АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="lastUpdateDate" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Дата обновления АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="1" name="signature">
                        <xs:annotation>
                            <xs:documentation>ЭЦП XML-представления АВР</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:maxLength value="400"/>
                                <xs:minLength value="0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element minOccurs="1" name="signatureType" type="ns1:SignatureType">
                        <xs:annotation>
                            <xs:documentation>Тип ЭЦП, которым подписан АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="certificate" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Сертификат для проверки подписи, который содержит также информацию о пользователе — владельце сертификата, который и создал документ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="signatureValid" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Статус ЭЦП</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="creatorLogin" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Логин пользователя, создавшего документ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="senderSignatures">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="senderSignature" type="tns:AwpSignature">
                                    <xs:annotation>
                                        <xs:documentation>Сведения по ЭЦП исполнителя (Поставщика) (I)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="recipientSignatures">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="recipientSignature" type="tns:AwpSignature">
                                    <xs:annotation>
                                        <xs:documentation>Сведения по ЭЦП заказчика (Получателя) (J)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="AwpSignature">
                <xs:annotation>
                    <xs:documentation>Сведения по ЭЦП</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element minOccurs="0" name="type" type="ns1:SignatureType">
                        <xs:annotation>
                            <xs:documentation>Тип подписи</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="signature" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Подпись участника</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="fullName" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Ф.И.О. лица, выписывающее АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="date" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Дата подписания ЭЦП</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="AwpChangeStatusResult">
                <xs:annotation>
                    <xs:documentation>Результат операции изменения статуса</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element name="awpSummary" type="tns:AwpSummary">
                        <xs:annotation>
                            <xs:documentation>Краткая информация об Акте выполненных работ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="isChanged" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Был ли изменен статус Акта выполненных работ в результате текущей операции</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errorCode" type="ns1:errorCode">
                        <xs:annotation>
                            <xs:documentation>Информация об ошибке, по причине которой операция не была произведена</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="AwpSummary">
                <xs:annotation>
                    <xs:documentation>Краткая информация об Акте выполненных работ</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element name="awpId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Идентификатор Акта выполненных работ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="inputDate" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Дата поступления АВР в систему</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Регистрационный номер АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="version" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Версия АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="status" type="tns:AwpStatus">
                        <xs:annotation>
                            <xs:documentation>Статус АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="lastUpdateDate" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Дата обновления АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="senderTinList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="senderTin" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Список ИИН/БИН отправителей АВР</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="recipientTinList">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="0" name="recipientTin" type="xs:string">
                                    <xs:annotation>
                                        <xs:documentation>Список ИИН/БИН получателей АВР</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="AwpActionInfo">
                <xs:annotation>
                    <xs:documentation>Информация о АВР</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element minOccurs="0" name="awpActionBody" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Действие по документу АВР (XML)</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="awpVersion" type="tns:awpVersion">
                        <xs:annotation>
                            <xs:documentation>Версия АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="awpId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Идентификатор АВР в системе</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="signature" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>ЭЦП</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="signatureType" type="ns1:SignatureType">
                        <xs:annotation>
                            <xs:documentation>Тип ЭЦП</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="certificate" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Сертификат для проверки подписи, который содержит также информацию о пользователе — владельце сертификата</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="DeleteAwpResult">
                <xs:annotation>
                    <xs:documentation>Результат операции удаления Акта выполненных работ</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element name="awpId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Идентификатор Акта выполненных работ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="isDeleted" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation>Был ли удален Акта выполненных работ</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errorCode" type="ns1:errorCode">
                        <xs:annotation>
                            <xs:documentation>Информация об ошибке, по причине которой операция не была произведена</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:complexType name="AwpHistoryInfo">
                <xs:annotation>
                    <xs:documentation>Информация об истории АВР</xs:documentation>
                </xs:annotation>
                <xs:all>
                    <xs:element minOccurs="0" name="awpId" type="xs:long">
                        <xs:annotation>
                            <xs:documentation>Идентификатор АВР в системе</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="date" type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation>Дата и время изменения</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="tin" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>ИИН/БИН участника иницировавшего изменение</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="clientType" type="ns1:clientType">
                        <xs:annotation>
                            <xs:documentation>Тип клиента</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="userId" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Логин пользователя, инициировавшего смену статуса</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="status" type="tns:AwpStatus">
                        <xs:annotation>
                            <xs:documentation>Статус АВР</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="statusDescription" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>Описание статуса</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="action" type="tns:AwpActionType">
                        <xs:annotation>
                            <xs:documentation>Тип действия</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:all>
            </xs:complexType>
            <xs:simpleType name="awpVersion">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="AwpV1"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="AwpStatus">
                <xs:annotation>
                    <xs:documentation>Статус АВР</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="DRAFT">
                        <xs:annotation>
                            <xs:documentation>Черновик</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="NOT_VIEWED">
                        <xs:annotation>
                            <xs:documentation>Не просмотрен</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DELIVERED">
                        <xs:annotation>
                            <xs:documentation>Доставленный</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="CREATED">
                        <xs:annotation>
                            <xs:documentation>Созданный</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="IMPORTED">
                        <xs:annotation>
                            <xs:documentation>Черновик импортирован</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="FAILED">
                        <xs:annotation>
                            <xs:documentation>Ошибочный</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="CONFIRMED">
                        <xs:annotation>
                            <xs:documentation>Подтвержден</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DECLINED">
                        <xs:annotation>
                            <xs:documentation>Отклонен</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="REVOKED">
                        <xs:annotation>
                            <xs:documentation>Отозван</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="IN_TERMINATING">
                        <xs:annotation>
                            <xs:documentation>В процессе расторжения</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="TERMINATED">
                        <xs:annotation>
                            <xs:documentation>Расторгнут</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="AwpActionType">
                <xs:annotation>
                    <xs:documentation>Тип действия</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CREATE">
                        <xs:annotation>
                            <xs:documentation>Создание</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="VIEW">
                        <xs:annotation>
                            <xs:documentation>Просмотр</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DELETE">
                        <xs:annotation>
                            <xs:documentation>Удаление</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="CONFIRM">
                        <xs:annotation>
                            <xs:documentation>Подтверждение</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DECLINE">
                        <xs:annotation>
                            <xs:documentation>Отклонение</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="REVOKE">
                        <xs:annotation>
                            <xs:documentation>Отзыв</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="TERMINATE">
                        <xs:annotation>
                            <xs:documentation>Расторжение</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="CONFIRM_TERMINATION">
                        <xs:annotation>
                            <xs:documentation>Подтверждение расторжение</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="DECLINE_TERMINATION">
                        <xs:annotation>
                            <xs:documentation>Отклонить расторжение</xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="uploadAwp">
        <wsdl:part element="tns:awpUploadRequest" name="awpUploadRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AccessDeniedException">
        <wsdl:part element="tns:accessDeniedException" name="AccessDeniedException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TrustyOCSPUnknownProblemException">
        <wsdl:part element="tns:TrustyOCSPUnknownProblemException" name="TrustyOCSPUnknownProblemException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryAwpStatusById">
        <wsdl:part element="tns:awpQueryStatusByIdRequest" name="awpQueryStatusByIdRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryAwpStatusByIdResponse">
        <wsdl:part element="tns:awpQueryStatusByIdResponse" name="awpQueryStatusByIdResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TrustyOCSPCertificateException">
        <wsdl:part element="tns:TrustyOCSPCertificateException" name="TrustyOCSPCertificateException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryAwpById">
        <wsdl:part element="tns:awpQueryByIdRequest" name="awpQueryByIdRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="changeStatusResponse">
        <wsdl:part element="tns:awpChangeStatusResponse" name="awpChangeStatusResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryAwpHistoryById">
        <wsdl:part element="tns:awpHistoryQueryByIdRequest" name="awpHistoryQueryByIdRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SessionClosedException">
        <wsdl:part element="tns:sessionClosedException" name="SessionClosedException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryDeleteAwpResponse">
        <wsdl:part element="tns:awpDeleteResponse" name="awpDeleteResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryViewAwpResponse">
        <wsdl:part element="tns:awpViewResponse" name="awpViewResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="BusinessException">
        <wsdl:part element="tns:businessException" name="BusinessException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUpdate">
        <wsdl:part element="tns:awpQueryUpdatesRequest" name="awpQueryUpdatesRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryViewAwp">
        <wsdl:part element="tns:awpViewRequest" name="awpViewRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TrustyOCSPNotAvailableException">
        <wsdl:part element="tns:TrustyOCSPNotAvailableException" name="TrustyOCSPNotAvailableException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="uploadAwpResponse">
        <wsdl:part element="tns:awpUploadResponse" name="awpUploadResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="TrustyOCSPNonceException">
        <wsdl:part element="tns:TrustyOCSPNonceException" name="TrustyOCSPNonceException">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryDeleteAwp">
        <wsdl:part element="tns:awpDeleteRequest" name="awpDeleteRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="changeStatus">
        <wsdl:part element="tns:awpChangeStatusRequest" name="awpChangeStatusRequest">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUpdateResponse">
        <wsdl:part element="tns:awpQueryUpdatesResponse" name="awpQueryUpdatesResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryAwpByIdResponse">
        <wsdl:part element="tns:awpQueryByIdResponse" name="awpQueryByIdResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryAwpHistoryByIdResponse">
        <wsdl:part element="tns:awpHistoryQueryByIdResponse" name="awpHistoryQueryByIdResponse">
    </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="AwpWebService">
        <wsdl:documentation>Сервис работы с АВР</wsdl:documentation>
        <wsdl:operation name="uploadAwp">
            <wsdl:documentation>Загрузить Акт выполненных работ</wsdl:documentation>
            <wsdl:input message="tns:uploadAwp" name="uploadAwp">
    </wsdl:input>
            <wsdl:output message="tns:uploadAwpResponse" name="uploadAwpResponse">
    </wsdl:output>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUpdate">
            <wsdl:documentation>Получить список новых зарегистрированных или измененных в системе Актов выполненных работ</wsdl:documentation>
            <wsdl:input message="tns:queryUpdate" name="queryUpdate">
    </wsdl:input>
            <wsdl:output message="tns:queryUpdateResponse" name="queryUpdateResponse">
    </wsdl:output>
            <wsdl:fault message="tns:TrustyOCSPNotAvailableException" name="TrustyOCSPNotAvailableException">
    </wsdl:fault>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPUnknownProblemException" name="TrustyOCSPUnknownProblemException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPNonceException" name="TrustyOCSPNonceException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPCertificateException" name="TrustyOCSPCertificateException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryViewAwp">
            <wsdl:documentation>Подтвердить доставку Актов выполненных работ</wsdl:documentation>
            <wsdl:input message="tns:queryViewAwp" name="queryViewAwp">
    </wsdl:input>
            <wsdl:output message="tns:queryViewAwpResponse" name="queryViewAwpResponse">
    </wsdl:output>
            <wsdl:fault message="tns:TrustyOCSPNotAvailableException" name="TrustyOCSPNotAvailableException">
    </wsdl:fault>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPUnknownProblemException" name="TrustyOCSPUnknownProblemException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPNonceException" name="TrustyOCSPNonceException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPCertificateException" name="TrustyOCSPCertificateException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAwpStatusById">
            <wsdl:documentation>Получить статусы Актов выполненных работ по их идентификаторам</wsdl:documentation>
            <wsdl:input message="tns:queryAwpStatusById" name="queryAwpStatusById">
    </wsdl:input>
            <wsdl:output message="tns:queryAwpStatusByIdResponse" name="queryAwpStatusByIdResponse">
    </wsdl:output>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAwpById">
            <wsdl:documentation>Получить список Актов выполненных работ по идентификаторам</wsdl:documentation>
            <wsdl:input message="tns:queryAwpById" name="queryAwpById">
    </wsdl:input>
            <wsdl:output message="tns:queryAwpByIdResponse" name="queryAwpByIdResponse">
    </wsdl:output>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDeleteAwp">
            <wsdl:documentation>Удаление ошибочных Актов выполненных работ</wsdl:documentation>
            <wsdl:input message="tns:queryDeleteAwp" name="queryDeleteAwp">
    </wsdl:input>
            <wsdl:output message="tns:queryDeleteAwpResponse" name="queryDeleteAwpResponse">
    </wsdl:output>
            <wsdl:fault message="tns:TrustyOCSPNotAvailableException" name="TrustyOCSPNotAvailableException">
    </wsdl:fault>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPUnknownProblemException" name="TrustyOCSPUnknownProblemException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPNonceException" name="TrustyOCSPNonceException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPCertificateException" name="TrustyOCSPCertificateException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeStatus">
            <wsdl:documentation>Изменить статус АВР</wsdl:documentation>
            <wsdl:input message="tns:changeStatus" name="changeStatus">
    </wsdl:input>
            <wsdl:output message="tns:changeStatusResponse" name="changeStatusResponse">
    </wsdl:output>
            <wsdl:fault message="tns:TrustyOCSPNotAvailableException" name="TrustyOCSPNotAvailableException">
    </wsdl:fault>
            <wsdl:fault message="tns:AccessDeniedException" name="AccessDeniedException">
    </wsdl:fault>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPUnknownProblemException" name="TrustyOCSPUnknownProblemException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPNonceException" name="TrustyOCSPNonceException">
    </wsdl:fault>
            <wsdl:fault message="tns:TrustyOCSPCertificateException" name="TrustyOCSPCertificateException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAwpHistoryById">
            <wsdl:documentation>Получить записи об истории Актов выполненных работ</wsdl:documentation>
            <wsdl:input message="tns:queryAwpHistoryById" name="queryAwpHistoryById">
    </wsdl:input>
            <wsdl:output message="tns:queryAwpHistoryByIdResponse" name="queryAwpHistoryByIdResponse">
    </wsdl:output>
            <wsdl:fault message="tns:BusinessException" name="BusinessException">
    </wsdl:fault>
            <wsdl:fault message="tns:SessionClosedException" name="SessionClosedException">
    </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AwpWebServiceSoapBinding" type="tns:AwpWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="uploadAwp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="uploadAwp">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="uploadAwpResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUpdate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryUpdate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryUpdateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TrustyOCSPNotAvailableException">
                <soap:fault name="TrustyOCSPNotAvailableException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPUnknownProblemException">
                <soap:fault name="TrustyOCSPUnknownProblemException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPNonceException">
                <soap:fault name="TrustyOCSPNonceException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPCertificateException">
                <soap:fault name="TrustyOCSPCertificateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryViewAwp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryViewAwp">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryViewAwpResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TrustyOCSPNotAvailableException">
                <soap:fault name="TrustyOCSPNotAvailableException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPUnknownProblemException">
                <soap:fault name="TrustyOCSPUnknownProblemException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPNonceException">
                <soap:fault name="TrustyOCSPNonceException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPCertificateException">
                <soap:fault name="TrustyOCSPCertificateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAwpStatusById">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryAwpStatusById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryAwpStatusByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAwpById">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryAwpById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryAwpByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDeleteAwp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryDeleteAwp">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryDeleteAwpResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TrustyOCSPNotAvailableException">
                <soap:fault name="TrustyOCSPNotAvailableException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPUnknownProblemException">
                <soap:fault name="TrustyOCSPUnknownProblemException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPNonceException">
                <soap:fault name="TrustyOCSPNonceException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPCertificateException">
                <soap:fault name="TrustyOCSPCertificateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="changeStatus">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="changeStatus">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="changeStatusResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="TrustyOCSPNotAvailableException">
                <soap:fault name="TrustyOCSPNotAvailableException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="AccessDeniedException">
                <soap:fault name="AccessDeniedException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPUnknownProblemException">
                <soap:fault name="TrustyOCSPUnknownProblemException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPNonceException">
                <soap:fault name="TrustyOCSPNonceException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="TrustyOCSPCertificateException">
                <soap:fault name="TrustyOCSPCertificateException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryAwpHistoryById">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryAwpHistoryById">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryAwpHistoryByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="SessionClosedException">
                <soap:fault name="SessionClosedException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AwpWebService">
        <wsdl:port binding="tns:AwpWebServiceSoapBinding" name="AwpWebServicePort">
            <soap:address location="https://esf.gov.kz:8443/esf-web/ws/api1/AwpWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>